@font-face {
  font-family: "Norse Bold";
  src: url(./font/Norse-Bold.otf);
}

:root {
  --main-color: #f9fafb;
  --secondary-color: #ffffff;
  --bg-image: url(./img/mountains.jpg);
  --outside-height: 25vh;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
}

.container {
  display: flex;
}

.col {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* Left Containers */

.left {
  position: relative;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vh;
  align-items: center;
  justify-content: center;
}

.transparent {
  display: flex;
  position: absolute;
  top: 30vh;
  background-color: rgb(0 0 0 / 0.8);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

#odin {
  height: 10vh;
  width: auto;
}

.transparent > h1 {
  font-family: "Norse Bold";
  color: var(--main-color);
}

.left > p {
  position: absolute;
  justify-self: flex-end;
  bottom: 1vh;
}

/* Right Containers */

.right {
  flex-grow: 1;
  width: 100%;
  gap: 2rem;
}

.outside {
  height: 25vh;
  justify-content: flex-end;
  padding-left: 2rem;
}

.focus {
  background-color: var(--secondary-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-items: start;
}

.focus > * {
  margin-left: 2rem;
}

.bottom {
  width: 100%;
  align-items: start;
  padding-left: 2rem;
}

fieldset {
  border: 0;
  gap: 0.5rem;
}

form {
  gap: 6rem;
  align-items: flex-end;
  padding: 0.5rem 0 2rem 0;
}
